@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

.gridcontainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    font-family: 'Spartan', sans-serif;
    align-items: center; /* Centra los contenedores hijos horizontalmente */
}

.customsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    padding: 20px;
    font-family: 'Spartan', sans-serif;
}

.sectionTitle {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-family: 'Spartan', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que todo dentro esté centrado horizontalmente */
    justify-content: center; /* Centra contenido verticalmente si es necesario */
    width: 100%;
    padding: 0 20px;
    font-family: 'Spartan', sans-serif;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos hijos horizontalmente */
    justify-content: center; /* Centra contenido verticalmente */
    width: 100%;
    padding: 0 20px;
    font-family: 'Spartan', sans-serif;
}

.colmd6, .customcontentstyle {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra contenido horizontalmente */
    justify-content: center; /* Centra contenido verticalmente, útil si tienes múltiples elementos */
    width: 100%;
    margin: 10px 0;
    background-color: black;
    color: white;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    border-radius: 5px;
    font-family: 'Spartan', sans-serif;
    text-align: center; /* Asegura que el texto esté centrado */
}

.colmd6 img, .customcontentstyle img {
    max-width: 80%;
    height: auto;
    margin: 20px auto; /* Añade margen automático para centrar imágenes */
    display: block;
}

.customcontentstyle h3, .customcontentstyle p {
    margin: 10px 0;
    font-family: 'Spartan', sans-serif;
    text-align: center; /* Centra el texto de estos elementos */
}

.customcontentstyle p {
    text-align: justify;
    padding: 0 20px;
}

.logoLetrasBlancas {
    width: 50% !important;
    height: auto !important;
}

@media (max-width: 768px) {
    .gridcontainer, .container, .row, .colmd6, .customcontentstyle {
        flex-direction: column;
        padding: 0 10px;
    }
    
    .colmd6 img, .customcontentstyle img, .logoLetrasBlancas {
        width: 100%;
    }
}
